body {
    font-family: 'Helvetica', sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 20px;
    background-size: cover;
    user-select: none;
}

.container {
    max-width: 100%;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

h1, h2 {
    text-align: center;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

input, select, textarea {
    width: 95%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #666;
    border-radius: 6px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, select:focus, textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

select {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 5px 0;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#message, #error {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

#searchResult {
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
    background-color: #e9ecef;
    overflow: auto;
}

#searchResult div {
    border: 1px solid #007bff;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
}

#searchResult p {
    margin: 0;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

#loginForm {
    display: none; /* إخفاء نموذج تسجيل الدخول في البداية */
}
